
body{
  font-family: sans-serif;
  }
.heading{
  background-color:#2c3e50;
  margin-left:0px;
  position:fixed;
  width:100%;
  padding-bottom: 20px;
}
.fix img{
  float: left;
  width:30%;
}

.heading h1{
  font-size: 60px;
  text-align: left;
  padding-left:25px;
}
.list{
  text-align: right;
}
.list ul li {
  display:inline;
}

.list ul li a{
  color:white;
  font-size:20px;
  margin-bottom: -10px;
  padding-right: 0px;
}
.heading ul a:hover{
  color:grey;
}
nav a{
  text-decoration: none;
}
.wrap h4{
  padding-top: 0px;
  color:black;
}
.wrap p{
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  color: #2c3e50;
}
.hero {
  background-image: url('../21.png');
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  width: 100%;
  position: relative;
}
.wrap
{
  padding-top: 150px;
}
.wrap img{
  border-radius: 4px;
}
.next h2{
  font-size: 20px;
  padding-left: 10px;
}
.next{
  font-size: 20px;
}
.ranks a{
  text-decoration: none;
  color:red;
}
.ranks{
  padding-top: 100px;
}
.ranks a:hover{
  color:#3498db;
  text-decoration:underline;
}
.side h3{
  padding-right:0px;
  color:red;
}
.side a{
  text-decoration: none;
}
.side h3:hover{
  color:#3498db;
  text-decoration:underline;
}
.side img{
  border-radius: 4px;
}

.foot{
  margin-top: -20px;
  background-color:#2c3e50;
  background-attachment: fixed;
  background-size: cover;
 width:85%;
  color:white;
}
.foot h4{
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}
.mobile li{
  font-size: 15px;;
}
 .comp li{
    font-size: 18px;
  }
.social li{
  font-size: 15px;
}

.foot{
  padding-left:200px;
}
