
body{
  font-family: 'open sans';
  }
.heading{
  background-color:#2c3e50;
  margin-left:0px;
  position:fixed;
  width:100%;
  padding-bottom: 20px;
  z-index: 1000000;
}
.fix img{
  padding-top: 15px;
  float: left;
  width:30%;
}

.heading h1{
  font-size: 60px;
  text-align: left;
  padding-left:25px;
}
.list{
  padding-top: 30px;
  text-align: center;
}
.list ul li {
  display:inline;
}

.list ul li a{
  color:white;
  font-size:20px;
  margin-bottom: -10px;
  padding-right: 0px;
}
.heading ul a:hover{
  color:grey;
}

nav a{
  text-decoration: none;
}
.wrap h4{
  padding-top: -10px;
  color:black;
}
.wrap p{
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  color: #2c3e50;
}
.wrap h1{
  text-align: center;
  color:black;
  font-size: 40px;
  padding bottom: 10px;
}

.hero-unit-wrapper {
  /*position: fixed;*/
  height: 100%;
  width: 100%;
}
.hero-unit {
  background-size: cover;
  height:100%;
  width: 100%;
  position: relative;
}
.hero-unit .video {
  position: absolute;
  height: 100%;
  width: 100%;
}
.backdrop {
  background: black;
  opacity: 0.7;
  height: 100%;
  width: 100%;

}
.text{
  position: absolute;
  color: whitesmoke;
  font-family: 'Open Sans';
  font-weight: 300;
  top: 20%;
  left: 35%;
  font-size: 40px;
  z-index: 9999;
}
.back{
  position: absolute;
  color: whitesmoke;
  font-family: 'Open Sans';
  font-weight: 300;
  top: 80%;
  left: 25%;
  font-size: 40px;
  z-index: 9999;
}
.wrap
{
  padding-top: 40px;
}
.wrap p{
  padding-top: 10px;
}
.wrap img{
  border-radius: 4px;
}
.next h1{
  text-align: center;
}
.next h2{
  font-size: 20px;
  padding-left: 10px;
}
.next img{
  width:100%;
}
.next{
  padding-bottom:30px;
}
.next p{
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  color: #2c3e50;
}
.main p{
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  color: #2c3e50;
}
.main img{
  width:100%;
  padding-bottom: 25px;
}

.foot{
  margin-top: -20px;
  background-color:#2c3e50;
  background-attachment: fixed;
  background-size: cover;
  width:85%;
  color:white;
  text-align: center;
}
.foot li{
  margin-left: 10px;
}
.foot h4{
  font-size: 20px;
  padding-top: 10px;
}
.mobile li{
  display: inline;
}
 .comp li{
   list-style: none;
    font-size: 18px;
  }
.social ul li{
  display: inline;
}
.subfooter{
  text-align: center;
  background-color:#2c3e50;
  width:85%;
  height:10%;
  color:white;
  display:block;
}
.foot{
  padding-left:200px;
}
.copyright{
  font-style: normal;
}
